/* #region CSS Normalize */
:root {
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
    margin: 0;
}

ol[role="list"],
ul[role="list"] {
    list-style: none;
    padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-size: inherit;
    font-weight: inherit;
}

img {
    display: block;
    max-inline-size: 100%;
}

/* #endregion CSS Normalize */

.container {
    height: 100vh;
    display: flex;
}

.hero-container {
    height: 100%;
    aspect-ratio: 0.667;
    background-image: url(images/background_odin.avif);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.hero-banner {
    height: 200px;
    width: 100%;
    background-color: rgba(30, 30, 30, 0.6);
    position: absolute;
    top: 300px;
    display: flex;
}

.logo-img-container,
.logo-text-container {
    flex: 1;
}

.logo-img-container {
    display: flex;
    justify-content: flex-end;
}

.logo-text-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@font-face {
    font-family: 'norse-bold';
    src: url(fonts/Norse-Bold.otf);
}

.logo-text-container p {
    font-family: 'norse-bold', sans-serif;
    font-size: calc(200px * 0.7);
    font-weight: 900;
    color: whitesmoke;
}


.sign-up-container {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.info-text {
    flex: 1;
    background-color: rgb(248, 248, 248);
    padding-top: 5em;
    padding-left: 3em;
}

.info-text p {
    width: 60ch;
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 2em;
}



.login-form {
    flex: 1;
    background-color: white;
    padding-top: 2em;
    padding-left: 3em;
}

.login-form p:first-child {
    font-weight: bold;
    font-size: 1.75rem;
    margin-bottom: 1.5em;
}

.login-form form {
    display: flex;
}

.left-form-page,
.right-form-page {
    flex: 1;
}

.login-form label {
    display: block;
    margin-bottom: 3px;
    font-family: 'norse-bold', sans-serif;
}

.login-form input {
    height: 1.7em;
    width: 40%;
    border-radius: 4px;
    border: 1.5px solid lightgray;
}

input[type='password']:invalid {
    border-color: red;
}

input:focus {
    outline: none;
    border-color: lightblue;
    box-shadow: 0 0 5px rgba(33, 150, 243, 0.5);
}

.left-form-page>div,
.right-form-page>div {
    margin-bottom: 2em;
}

.account-section {
    flex: 1;
    background-color: rgb(240, 240, 240);
    padding-left: 3em;
    padding-top: 3.5em;
}

.account-section button {
    background-color: #596D48;
    color: whitesmoke;
    border-radius: 5px;
    font-size: 1.15rem;
    font-weight: bold;
    padding: 0.5em 2.5em;
    margin-bottom: 2.5em;
}

.account-section p {
    font-size: large;
    font-weight: 700;
}

.login-link {
    color: #596D48;
}