/* #region CSS Normalize */
:root {
  line-height: 1.5;
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}
/* #endregion CSS Normalize */

.container {
    height: 100vh;
    display: flex;
}

.hero-container {
    height: 100%;
    aspect-ratio: 0.667;
    background-image: url(images/background_odin.avif);
    background-repeat: no-repeat;
    background-size: contain;
    border: 2px solid red;
}

.sign-up-container {
    height: 100%;
    flex: 1;
    border: 2px solid lime;
    display: flex;
    flex-direction: column;
}

.info-text {
    flex: 1;
    background-color: rgb(248, 248, 248);
}

.login-form {
    flex: 1;
    background-color: white;
}

.account-section {
    flex: 1;
    background-color: rgb(240, 240, 240);
}